h1{
    color: white;
    font-size: 50px;
}
nav{
    color: yellow;
    
}
p{
    font-size: 18px;
}
section{
    background-color: black;
    color: white;
    width: 50%;
    height: 470px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style:inherit;
    
}
footer{
    background-color: black;
    color: white;
    width: 50%;
    height: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
